<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processamento de Dados</title>
    <style>
        form {
            border: 2px solid #004902;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            width: 500px;
            margin: auto;
            background-color: rgba(17, 0, 255, 0.062);
        }
    </style>
    <script>
        // função para limpar os campos
        function limparCampos() {
            document.getElementById('compradores').value = '';
            document.getElementById('quantidade').value = '';
            document.getElementById('compras').value = '';
            document.getElementById('regiao').value = '';
        }

        // limpa os campos ao voltar para a página
        window.addEventListener('pageshow', function(event) {
            if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
                limparCampos();
            }
        });
    </script>
</head>
<body>
    <!--Formulário de compradores-->
    <form action="/exec_compradores" method="post">
        <input type="text" name="produto" id="compradores" placeholder="Digite o produto" required>
        <button type="submit">Buscar Compradores</button>
        <p><i>*Retorna quais clientes compraram determinado produto</i></p>
    </form><br>
    <!--Formulário de quantidade de produtos vendidos-->
    <form action="/exec_quantidade_produtos_vendidos" method="post">
        <input type="text" name="produto_qtde" id="quantidade" placeholder="Digite o produto" required>
        <button type="submit">Buscar Quantidade de Prod. Vendidos</button>
        <p><i>*Retorna a quantidade que foi vendida de determinado produto</i></p>
    </form><br>
    <!--Formulário de compras realizadas por um determinado cliente-->
    <form action="/exec_compras_por_cliente" method="post">
        <input type="text" name="cliente_compras" id="compras" placeholder="Digite o cliente" required>
        <button type="submit">Buscar Compras</button>
        <p><i>*Retorna as compras feitas por determinado cliente</i></p>
    </form><br>
    <!--Fomulário de clintes localizados em uma determinada região-->
    <form action="/exec_clientes_por_regiao" method="post">
        <input type="text" name="regiao" id="regiao" placeholder="Digite a região" required>
        <button type="submit">Buscar Clientes</button>
        <p><i>*Retorna clientes localizados em uma determinada região</i></p>
    </form><br>
    <!--Lista os todos os produtos-->
    <form action="/exec_listar_produtos" method="post">
        <button type="submit">Listar Produtos</button>
        <p><i>*Lista todos os produtos do banco de dados</i></p>
    </form><br>
    <!--Lista todos os clientes-->
    <form action="/exec_listar_clientes" method="post">
        <button type="submit">Listar Clientes</button>
        <p><i>*Lista todos os clientes do banco de dados</i></p>
    </form>
</body>
</html>